/* your styles go here */

.navigation{
	border-right:solid 1px #EEE;
}

ul.navigation{
	margin:0;
	padding:0;
}

ul.navigation li{
	list-style:none;
}

ul.navigation a{
	display:block;
	padding:10px;
	border-bottom:solid 1px #EEE;
	text-decoration:none;
	font-style:normal;
}

li.current a{
	background:#FF4444;
	color:#FFF;
}
.info{
	font-style:normal;
}
.info th{
	font-size:12px;
	font-weight:normal;
	color:#888;
	padding-top:10px;
}
.toolbar{
	padding:8px;
	border-bottom:solid 1px #DDD;
	margin-bottom:10px;
}
.logo{
	text-align:center;
	margin-bottom:20px;
}
.logo:hover{
	opacity:0.8;
	cursor:pointer;
}
.img{
	padding:3px;
	border:solid 1px #DDD;
}
h2 .geotitle{
	font-size:11px;
	font-weight:bold;
}
h2 .geocontent{
	font-size:11px;
	font-transform:normal;
}
.list-title{
	background:#FF4444;
	color:#FFF;
	font-weight:bold;
}

/* MODAL */
.modal-content {
  background-clip: padding-box;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  outline: 0 none;
  position: relative;
}
.modal-dialog {
  z-index: 2200;
}
.modal-body {
  padding: 20px 30px 30px 30px;
}
.inmodal .modal-body {
  background: #f8fafb;
}
.inmodal .modal-header {
  padding: 30px 15px;
  text-align: center;
}
.animated.modal.fade .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.inmodal .modal-title {
  font-size: 26px;
}
.inmodal .modal-icon {
  font-size: 84px;
  color: #e2e3e3;
}
.modal-footer {
  margin-top: 0;
}
